.cadastro-header{
    height: 80px;
    border-bottom: 1px solid #013088;
}

.cadastro-header > img{
    width: 20%;
    position: absolute;
    top: -140px;
}

.cadastro-main::before{
    content: '';
    background-image: url('./cadastro/bg-cadastro.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 80px;
    width: 100vw;
    height: calc(100vh - 80px);
    opacity: .5;
    z-index: -1;
    
}

.cadastro-main{
    width: 100vw;
    /* height: calc(100vh - 80px); */
}

.cadastro-main > h1{
    color: black;
    position: relative;
    margin: 0;
}

.form-cadastro-propietario{
    max-width: 10000px;
    max-height: 100000000px;
    background-color: #fff;
    width: 60%;
    margin: auto;
    margin-top: 2%;
    border-radius: 20px;
    background-color: rgba(217, 217, 217, 0.6);
    color: #013088;
    padding: 30px;

}

.form-cadastro-propietario > input{
    border: none;
}

.form-cadastro-propietario > hr{
    width: 90%;
    border-bottom: 1px solid black;
}

.form-cadastro-propietario > h1{
    color: #013088;
    position: relative;
    margin: 0;
}

.campos-formulario{
    width: 40%;
}

.campos-duplas{
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.campos-duplas > button{
    background-color: #013088;
    color: white;
    height: 1%;
    padding: 15px 35px;
    font-size: 15px;
    margin-left: 15%;
    margin-top: 3%;
    border-radius: 20px;
    transition: all .9s;
}
.campos-duplas > button:hover{
    background-color: #0c4dc6;
}
