.perfil-header {
    height: 20%;
    border-bottom: 1px solid #e8e8e8; 
}

.perfil-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil-main > .logo {
    width: 20%;
    position: absolute;
    top: -80px;
    left: 5%;
}

.layout-container {
    display: flex;
    width: 100%;
    height: 100vh; /* Define a altura total do container para 100% da viewport */
}

.sidebar {
    width: 310px;
    background-color: #003366;
    color: white;
    padding: 20px;
    overflow-y: scroll; /* Permite a rolagem com barra oculta ou menor */
    scrollbar-width: none; /* Oculta a barra de scroll no Firefox */
    -ms-overflow-style: none;
    
}


.sidebar::-webkit-scrollbar {
    width: 6px; /* Define a largura da barra de scroll */
}

.sidebar::-webkit-scrollbar-track {
    background: #003366; /* Cor da área da barra de scroll */
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor da barra de scroll */
    border-radius: 10px; /* Bordas arredondadas para a barra de scroll */
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cor da barra de scroll ao passar o mouse */
}


.sidebar h2 {
    margin-bottom: 10px;
    color: #e8e8e8;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 10px 0;
}

.content {
    flex-grow: 1;
    padding: 20px;
    margin-left: -5%; /* Espaço equivalente à largura da sidebar */
    background-color: #f4f4f4;
    overflow-y: auto; /* Se o conteúdo for maior, a página terá scroll */
}
