.perfil-header{
    height: 80px;
    border-bottom: 1px solid #E8E8E8; 
}

.perfil-main{
 position: absolute;
 width: 364px;
 height: 1024px;
 left: -19px;
 top: 0px;
 background: #18305F;
}
.perfil-main > img{
 width: 320px;
 position: absolute;
 top: -80px;
 left:5%;
}
