.configuracao-proprietario-container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9; /* Fundo claro */
    border-radius: 2px;
    border: 1px solid rgb(221, 220, 220);
}

.configuracao-proprietario-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #444; /* Cor do título */
}

.configuracao-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.configuracao-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.configuracao-field label {
    font-size: 16px;
    color: #333; /* Cor do texto do label */
}

.configuracao-field input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.configuracao-actions {
    display: flex;
    gap: 10px;
}

.configuracao-buttons-prop .editar-configuracoes,
.configuracao-buttons-prop .salvar-configuracoes,
.configuracao-buttons-prop .editar-senha,
.configuracao-buttons-prop .cancelar-edicao {
    background-color: #18305F; /* Cor dos botões */
    border: none;
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    display: row;
    margin-right: 20px;
    justify-content: space-between;
}

.configuracao-buttons-prop .editar-configuracoes:hover,
.configuracao-buttons-prop .salvar-configuracoes:hover,
.configuracao-buttons-prop .editar-senha:hover,
.configuracao-buttons-prop .cancelar-edicao:hover {
    background-color: #1b7ce4; /* Cor dos botões ao passar o mouse */
}