.contratos-proprietario-container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9; /* Tom claro para o fundo */
    border-radius: 8px;
}

.contratos-proprietario-container h2 {
    font-size: 24px;
    margin-bottom: 30px;
    color: #444; /* Cor do texto do título */
}

.contratos-proprietario-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contrato-item {
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.contrato-item span {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #333; /* Cor do texto dos itens */
}

.contrato-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px; /* Espaçamento entre os detalhes do contrato e os botões */
}

.contrato-actions button {
    background-color: #78909c; /* Cor dos botões */
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    color: #fff; /* Cor do texto dos botões */
}

.contrato-actions button:hover {
    background-color: #546e7a; /* Cor do botão ao passar o mouse */
}

.add-contrato {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #607d8b; /* Cor do botão adicionar */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.add-contrato:hover {
    background-color: #455a64; /* Cor do botão adicionar ao passar o mouse */
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    max-width: 90%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: left;
  }

  .modal-content h2 {
    margin-bottom: 20px;
    color: #455a64;
  }

  .modal-content p {
    margin-bottom: 10px;
    color: #555;
  }

  .modal-button{
    background-color: #607d8b;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    transition: background-color 0.3s ease;

  }

  .modal-button:hover{
    background-color: #455a64;
  }
