.documentos-container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
}

.documentos-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.documentos-headers {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px;
}

.documentos-headers span {
    flex: 1;
    text-align: center;
    color: #333;
}

.documentos-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.documento-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.documento-item span {
    flex: 1;
    text-align: left;
    font-size: 16px;
    color: #333;
}

.documento-actions {
    display: flex;
    gap: 10px;
}

.documento-actions button {
    background-color: #ccc;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.documento-actions button:hover {
    background-color: #aaa;
}

.add-documento,.save-doc, .cancel-doc {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #607d8b;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.add-documento,.save-doc, .cancel-doc :hover {
    background-color: #455a64;
}

.novo-documento-form, .edicao-documento-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 20px;
    max-width: 800px;
  }
  
  .novo-documento-form input, .edicao-documento-form input {
    padding: 10px;
    width: 80%;
    box-sizing: border-box;
    
  }

  .loading-spinner {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #192872 #192872 transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    justify-content: center;
    align-items: center;
    
  }
  .loading-spinner::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent #FF3D00 #FF3D00;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
      
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }