.imoveis-proprietario-container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9; /* Alterado para um tom mais claro */
    border-radius: 8px;
}

.imoveis-proprietario-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #444; /* Cor ajustada para mais contraste */
}

.imoveis-proprietario-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.imovel-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra um pouco mais forte */
}

.imovel-item span {
    flex: 1;
    text-align: left;
    font-size: 16px;
    color: #333;
}

.imovel-actions {
    display: flex;
    gap: 10px;
}

.imovel-actions button {
    background-color: #78909c; /* Cor ajustada para um tom mais apropriado */
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    color: #fff; /* Cor do texto ajustada */
}

.imovel-actions button:hover {
    background-color: #546e7a; /* Cor ajustada para o hover */
}

.add-imovel {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #607d8b;
    grid-column: span 2;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
}

.add-imovel:hover {
    background-color: #455a64;
}

.adc-novo{
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.text-nome{
    
}

.novo-imovel-form  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 20px;
    max-width: 800px;
}

.novo-imovel-form input {
    padding: 10px;
    width: 80%;
    box-sizing: border-box;
    
}

.novo-imovel-form button {
  
}

