.manutencao-proprietario-container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9; /* Fundo claro */
    border-radius: 8px;
}

.manutencao-proprietario-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #444; /* Cor do título */
}

.manutencao-proprietario-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.manutencao-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.manutencao-item span {
    flex: 1;
    text-align: left;
    font-size: 16px;
    color: #333; /* Cor do texto dos itens */
}

.manutencao-actions {
    display: flex;
    gap: 10px;
}

.manutencao-actions button {
    background-color: #78909c; /* Cor dos botões */
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    color: #fff; /* Cor do texto dos botões */
}

.manutencao-actions button:hover {
    background-color: #546e7a; /* Cor do botão ao passar o mouse */
}

.add-manutencao {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #607d8b; /* Cor do botão adicionar */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.add-manutencao:hover {
    background-color: #455a64; /* Cor do botão adicionar ao passar o mouse */
}


