.pagamentos-container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
}

.pagamentos-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.pagamentos-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pagamento-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pagamento-item span {
    flex: 1;
    text-align: left;
    font-size: 16px;
    color: #333;
}

.pagamento-actions {
    display: flex;
    gap: 10px;
}

.pagamento-actions button {
    background-color: #ccc;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.pagamento-actions button:hover {
    background-color: #aaa;
}

.add-pagamento {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #607d8b;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.add-pagamento:hover {
    background-color: #455a64;
}

.novo-pagamento-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 20px;
    max-width: 800px;
}

.novo-pagamento-form input {
    padding: 10px;
    width: 80%;
    box-sizing: border-box;
    
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    max-width: 90%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: left;
  }

  .modal-content h2 {
    margin-bottom: 20px;
    color: #455a64;
  }

  .modal-content p {
    margin-bottom: 10px;
    color: #555;
  }

  .modal-button{
    background-color: #607d8b;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    transition: background-color 0.3s ease;

  }

  .modal-button:hover{
    background-color: #455a64;
  }

  .loading-spinner {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #192872 #192872 transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    justify-content: center;
    align-items: center;
    
  }
  .loading-spinner::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent #FF3D00 #FF3D00;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
      
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }