.button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    appearance: none;
    background-color: transparent;
    border: 2px solid #003366;
    border-radius: 10px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    padding: 19px 4px;
    text-align: left;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    width: 73%;
}

.button .icon {
    margin-right: 11px; /* Espaço entre o ícone e o texto */
    font-size: 20px; /* Tamanho do ícone */
}

.button:hover {
    color: #fff;
    background-color: #D9D9D9;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button:active {
    box-shadow: none;
    transform: translateY(0);
}

.button-active {
    background-color: #003366; /* Cor de fundo para o botão ativo */
    color: #ffffff; /* Cor do texto para o botão ativo */
    border: 2px solid #003366; /* Cor da borda para o botão ativo */
}

.button-sair {
    width: 130px;
    height: 52px;
    left: 87px;
    top: 90%;
    color: #ffffff; /* Cor da letra branca */
    background-color: #EA4B19; /* Fundo laranja */
    border: 2px solid #EA4B19; /* Borda laranja */
    border-radius: 4px;
    opacity: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button-sair:hover {
    background-color: #003366; /* Fundo branco ao passar o mouse */
    color: #ffffff; /* Letra branca ao passar o mouse */
    border: 2px solid #ffffff; /* Borda branca */
}
.button-selected {
    background-color: #214e7a; /* Cor de fundo para o botão ativo */
    border: 2px solid #003366; /* Cor da borda para o botão ativo */
    box-shadow: 0px 4px 8px #072c50; /* Sombra azul escura */
}
